body {
  height: 100%;
  width: 100vw;
  min-width: 320px;
  background-color: #000;
  background-image: url("./dog.gif");
  background-repeat: repeat-y;
  background-size: cover;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("./santa.png"), auto;
}

h1 {
  color: yellow;
  font-size: 4vw;
  text-shadow: 0 0 15px #ff0000, 0 0 10px #0000ff;
}

body:after {
  content: "";
  position: fixed;
  top: -3000%;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("./snow.png");
  background-size: 30%;
  animation-name: snow;
  animation-duration: 250s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes snow {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(80%);
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
}
