@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Gloria Hallelujah", cursive;
}

.container {
  display: flex;
  box-shadow: 0px 0px 50px 15px #00ff12;
  background-color: #00ff12;
  border-radius: 16px;
}

.card {
  position: relative;
  background-color: #242424;
  width: 300px;
  height: 400px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.card::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 140%;
  background-color: red;
  box-shadow: 0 0 20px black;
  animation: animate 5s linear infinite;
}

.card::after {
  content: "";
  position: absolute;
  inset: 10px;
  background-color: rgb(194, 2, 178);
  border-radius: 15px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text {
  text-transform: uppercase;
  font-size: 10em;
  z-index: 1;
  color: transparent;
  background-image: linear-gradient(to left, #2ecc71, #3498db,#f39c12, #e23415 );
  -webkit-background-clip: text;
  animation: textAnimate 5s linear infinite;
  background-size: 500%;
}

@keyframes textAnimate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 100%;
  }
}