body {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  background-image: url("assets/cipi.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 100svw;
  height: 100svh;
  position: relative;
}

#text {
  position: absolute;
  text-align: center; 
  font-size: 40px;
  bottom: 50px;
  width: 100%;
}