body {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  color: aliceblue;
}

.sliderWrapper {
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.sliderTrack {
  display: flex;
  transition: transform 0.5s linear;
}

.dogImg {
  width: 500px;
  height: 500px;
  object-fit: cover;
  flex-shrink: 0;
}
