:root {
  --text-color: #f0f8ff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100svw;
  height: 100svh;
  overflow-x: hidden;
}

img {
  width: 100svw;
  height: 100svh;
  margin: 0;
}

.top-text {
  position: absolute;
  text-align: center;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  font-size: larger;
  color: var(--text-color);
}

.bottom-text {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: larger;
  color: var(--text-color);
}

.Panda {
  display: none;
}

.Wallaby {
  display: none;
}

.Lion {
  display: none;
}

.Komodo {
  display: none;
}

.Penguin {
  display: none;
}
